#* 
 * Copyright 2011 - Inform8
 * http://www.inform8.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License")
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
*#
<h1>${table.name}</h1>
<br>
<table>
    <tr>
    #foreach( $col in ${table.columns} )
        <td><strong>${col.name}</strong></td>
    #end
    </tr>
    <?php foreach($objs as $obj) { ?>
        <tr>
        #foreach( $col in ${table.columns} )
            <td><?php echo $obj->get${col.name}(); ?></td>
        #end
        </tr>
    <?php } ?>
</table>