#* 
 * Copyright 2011 - Inform8
 * http://www.inform8.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License")
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
*#
<h1>${table.name}</h1>

<div><?php echo $obj->getPk(); ?></div>

#foreach( $col in ${table.columns} )
<div><?php echo $obj->get${col.name}(); ?></div>
#end
