#* 
 * Copyright 2011 - Inform8
 * http://www.inform8.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License")
 * http://www.apache.org/licenses/LICENSE-2.0
*#<?php
/**
 * Utility class to load/register all Inform8 library code.
 *
 * Generated source code using Inform8.
 */
require_once 'Inform8Context.php';
require_once 'Inform8Exception.php';
require_once 'dao/Inform8Dao.php';
require_once 'log/Inform8Logger.php';
require_once 'iql/load.php';

$classLookup = Inform8Context::getClassRegistry();

#foreach( $table in $tables )

	$classLookup->registerClass('${table.name}Dao', 'config/lib/Inform8/dao/${table.name}Dao.php');
	
	$classLookup->registerClass('${table.name}Data', 'config/lib/Inform8/do/${table.name}DataClass.php');
	$classLookup->registerClass('${table.name}', 'config/lib/Inform8/bo/${table.name}Class.php');
	
	$classLookup->registerClass('${table.name}JsonBuilder', 'config/lib/Inform8/json/${table.name}JsonBuilder.php');
	$classLookup->registerClass('${table.name}XmlBuilder', 'config/lib/Inform8/xml/${table.name}XmlBuilder.php');
	
	$classLookup->registerClass('${table.name}IQL', 'config/lib/Inform8/iql/${table.name}IQL.php');
															 
	$classLookup->registerClass('${table.name}CreateTransaction', 'config/lib/Inform8/transact/${table.name}CreateTransaction.php');
	$classLookup->registerClass('${table.name}UpdateTransaction', 'config/lib/Inform8/transact/${table.name}UpdateTransaction.php');

#end
?>