Options +FollowSymlinks

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/javascript

RewriteEngine on

RewriteRule error$ error.php [L,S=1]
RewriteRule error.php$ error.php [L]

RewriteRule returnprocesspaypal.php$ returnprocesspaypal.php [L]
RewriteRule processpaypal.php$ processpaypal.php [L]

RewriteRule ajax.php$ ajax.php [L]

RewriteRule logout$ index.php?logout=true [NC]

RewriteRule stream.php$ stream.php [L]
RewriteRule ^stream/(.*)$ stream.php?f=$1 [L]

RewriteRule ^config/(.*) /index.php [R]
RewriteRule ^logs/(.*) /index.php [R]

RewriteRule ^([A-Z][a-z]*)\.htm$ index.php?p=$1 [QSA,NC]
RewriteRule ^(.*)\.htm$ index.php [NC]
RewriteRule ^(.*)\.php$ index.php [NC]

RewriteRule ^stream/(.*)$ stream.php?f=$1 [NC]